{% extends "base.html" %}
{% block content %}


<script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js">
</script>
<script type="text/javascript">
   (function() {
      emailjs.init("user_uwg3IeOiUQjVtZ2QtvFoD");
   })();
</script>

<div class="row center-align">
    <div class="col-sm-4">

      {% with message = get_flashed_messages() %}
           {% if messages %}
           <ul class="flashes">
             {% for message in messages %}
                 <li>{ message }</li>
             {% endfor %}
           </ul>
           {% endif %}
      {% endwith %}
    <p class="center-align"> Want to get in touch? Fill the form below to send a message.</p>
    <form onsubmit="return sendMail(this);" method="POST" name="SentMessage" id="contactForm" class="m8 offset-m2 col s12" novalidate>
      <div class="card-panel">
    
        
      <div class="row">
        <div class="input-field col-sm-4">
          <i class="material-icons prefix light-blue-text text-darken-4">account_circle</i>
          <input id="name" name="name" type="text" class="validate">
          <label for="name">First Name</label>
        </div>
      </div>
        <div class="row">
        <div class="input-field col-sm-4">
          <i class="material-icons prefix light-blue-text text-darken-4">phone</i>
          <input id="phone" name="phone" type="tel" class="validate">
          <label for="phone">Telephone</label>
        </div>
   </div>
  <div class="row">
   <div class="input-field col-sm-4">
        <i class="material-icons prefix light-blue-text text-darken-4">email</i>
          <input id="emailaddress" name="emailaddress" type="email" class="validate">
          <label for="emailaddress">Email</label>
          <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>
      </div>
    

  <div class="row">
    <div class="input-field col-sm-4">
          <i class="material-icons prefix light-blue-text text-darken-4">mode_edit</i>
          <textarea id="message" name="message" class="materialize-textarea validate"></textarea>
          <label for="message">Message</label>
        </div>
      </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">Send
    </button>
  </div>
</div>
    </form>
    </div>
  
</div>
<script src="{{ url_for('static', filename='js/sendEmail.js')}}"></script>


{% endblock %}